// Variables
$primary-color: #1976d2;
$secondary-color: #ff4081;
$font-family: 'Roboto', sans-serif;
$black-color: #000;
$white-color: #fff;
$primary-theme: linear-gradient(90deg, rgba(60.76, 143.20, 194.44, 0.95) 0%, rgba(31.98, 48.95, 59.50, 0.95) 60%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin color-theme {
  background: linear-gradient(90deg, rgba(60.76, 143.20, 194.44, 0.95) 0%, rgba(31.98, 48.95, 59.50, 0.95) 60%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@mixin gradient-border($border-width: 2px) {
  border: $border-width solid transparent;
  border-image: linear-gradient(90deg, rgba(60.76, 143.20, 194.44, 0.95) 0%, rgba(31.98, 48.95, 59.50, 0.95) 60%) 1;
  border-radius: 20px; /* Adjust as necessary */
}
// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: rgb(255, 255, 255);
}

.cards{
  background: linear-gradient(15deg, rgba(61, 143, 194, 0.81) 0%, rgb(32 49 90 / 98%) 60%);

}
.swiper-wrapper {
  height: 350px !important;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.swiper-slide-active {
  margin-top: 20px !important;
}

// .swiper-slide-active .cards {
//   @include gradient-border;
//   // border: 1px #F76680 solid;
// }
.swiper-slide-active .cards {
  position: relative;
  padding: 4px; /* Adjust the padding to create space for the border */
  background: linear-gradient(15deg, rgba(61, 143, 194, 0.81) 0%, rgb(32 49 90 / 98%) 60%);
  border-radius: 20px; /* Adjust as needed */
}

.swiper-slide-active .cards::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white; /* Adjust this to match the background of your card */
  border-radius: 6px; /* Subtract the padding from the border-radius */
  z-index: -1; /* Ensure the background is behind the content */
}

.swiper-slide-active .cards .cardhead {
  color: #0178f2  !important;
}

.swiper-pagination-bullet-active {
  background: linear-gradient(15deg, rgba(61, 143, 194, 0.81) 0%, rgb(32 49 90 / 98%) 60%);
}

.swiper-pagination-bullet {
  height: 15px !important;
  width: 15px !important;
}

// Utility Classes
.flex-center {
  @include flex-center;
}

.text-center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 1rem;
}

// Buttons
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &--secondary {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
}

// Forms
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

// Header
.header {
  background-color: $primary-color;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

// Footer
.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.hero {
  Button {
    color: white;
  }
}

.button {
  padding: 12px 30px !important;
}

.button-primary {
  background: linear-gradient(90deg, #5B95C3 0%, #2C475D 73%) !important;
  padding: 15px 30px !important;
  border-radius: 30px !important;

  &:hover {
    background-color: darken(#FC0E49, 10%) !important;
  }
}

.c-black {
  color: $black-color !important;
}

.c-white {
  color: $white-color !important;
}

.c-theme-color{
 @include color-theme();
}
.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}



.navbar_main {
  span {
    &:hover {
      text-decoration: underline !important;
      text-decoration-thickness: 3px !important;
      text-underline-offset: 5px !important;
    }
  }
}